@import "null_style.scss";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
	font-family: 'HelveticaNeueRoman';
	src: url('../fonts/HelveticaNeueLTPro-Roman.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLT';
	src: url('../fonts/HelveticaNeueLTPro-Lt.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Lt.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Lt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueMd';
	src: url('../fonts/HelveticaNeueLTPro-Md.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Md.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Md.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	height: 100%;
	font-weight: 'Merriweather';
}
.container {
	border: none;
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
	.arrow {
		position: absolute;
		left: 0;
		right: 0;
		cursor: pointer;
		.top {
			top: 30px;
		}
		.down {
			bottom: 30px;
		}
	}
}
.header__menu { 
	.desktop-nav {
		max-width: 54%;
		min-width: 430px;
		margin: 0 auto; 
		padding: 0 .5em; 
		font-family: 'Roboto', sans-serif;
		.first-level-links-row {
			display: flex; 
			justify-content: space-between;
			min-height: 50px; 
			li {
				align-self: center;
				padding: 0 5px; 
				a {
					color: #979797;
					&:hover {
						color: black;
					}
					&.actived { 
						color: black;
					}
				}
				.logo {
					background-color: black;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 10px 0 10px;
					a {
						font-size: 2.2em;
						font-weight: 800;
						padding: 5px 10px;
						color: white;
					}

				}
			}
		}
	}
}
.rubric {
		width: 100%;
		text-align: center;
		padding-bottom: 7%;
		font-family: 'Merriweather', sans-serif;
		h1 {
			font-family: 'HelveticaNeueLT', sans-serif;
			font-size: 2.6em;
			padding-bottom: 1%;
		}
		p {
			color: #898888;
			font-size: 0.9em;
		}
	}
.header__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	max-width: 54%;
	min-width: 430px;
	margin: 0 auto; 
	
	.read_more {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 0.7em;
		display: inline-block;
		padding: 15px 30px;
		color: black;
		border: 1px solid black;
		text-transform: uppercase;
	}
}
.about-us-section {
	border: 0;
	background-color: black;
	background-image: url(../img/buildings_bg.png);
	background-repeat: no-repeat; 
	background-size: 100%; 
	background-position: 0px 100%; 
	color: white;
	min-height: 40vh;
	min-width: 440px; 
	-webkit-box-shadow: 0px -8px 0px 0px rgba(255, 255, 255, 1) inset;
	-moz-box-shadow: 0px -8px 0px 0px rgba(255, 255, 255, 1) inset;
	box-shadow: 0px -8px 0px 0px rgba(255, 255, 255, 1) inset;
}
.story_grid_box{
	background: url(../img/center_line.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	display: grid;
	grid-template: repeat(4, minmax(fit-content, fit-content)) / repeat(2, minmax(150px, 380px));
	grid-template-areas: 
						'eleven twelve'
						'thirteen fourteen';
	row-gap: 10px;
	column-gap: 20px;
	padding: 6% 10% 20% 10%; 
	.item {
		padding: 5px;
		font-size: 0.8em;
		line-height: 1.5em;
		font-family: 'Montserrat', sans-serif;
		color: #b7b7b7;
		&:nth-child(odd){
			text-align: right;
			padding-left: 0;
			padding-right: 6%; 
		}
		&:nth-child(even){
			padding-right: 0;
			padding-left: 10%; 
		}
		&:nth-last-child{
		margin-bottom: 100px;
		}
		span {
			font-family: 'HelveticaNeueRoman', sans-serif;
			display: inline-block;
			margin-bottom: 5px;
			font-size: 20px;
			color: white;
		}
	}
	.eleven_grid_item{
		grid-area: eleven;
	}
	.twelve_grid_item{
		grid-area: twelve;
		grid-row-start: 2;
	}
	.thirteen_grid_item{
		grid-area: thirteen;
		grid-row-start: 3;
	}
	.fourteen_grid_item{
		grid-area: fourteen;
		grid-row-start: 4;
		grid-row-end: 5;
	}
}
.team-section {
	padding-top: 5%;
	min-height: 40vh;
	max-width: 54%;
	margin: 0 auto;
	h2 {
		font-family: 'HelveticaNeueLTe', sans-serif;
		font-size: 1.5em;
		padding-bottom: 1%; 
	}
	p {
		font-family: 'Merriweather', sans-serif;
	}
	.team-flexbox-row{
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 30vh;
		text-align: center;
		font-family: 'HelveticaNeueRoman', sans-serif;
		.mark{
			flex: 0 1 110px; 
			padding: 0.5em;
		}
		.justin{
			flex: 0 1 110px; 
			padding: 0.5em;
			align-self: flex-start;
		}
		.antonio{
			flex: 0 1 110px; 
			padding: 0.5em;
		}
	}
}
div[class="team-flexbox-row"] > div > img{
	display: block;
	width: 100%;
	padding-bottom: 1em;
}
div[class="team-flexbox-row"] > div > span{
	font-size: 10px;
	color: #979797;
}
.services-section {
	background-color: black;
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); 
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
	padding-top: 15%;
	background-image: url(../img/services_bg.png); 
	background-repeat: no-repeat; 
	background-size: cover;
	background-size: 60%;
	background-position: bottom;
	color: white;
	min-height: 40vh;
	min-width: 440px; 
	.rubric {
		padding-bottom: 0;
		h2 {
			font-family: 'HelveticaNeueLT', sans-serif;
			font-size: 1.5em;
			padding-bottom: 0.7%;
		}
		p {
			color: #979797;
			font-size: 0.7em;
			font-family: 'Merriweather', sans-serif;
		}
	}

	.services-flexbox-row {
		padding: 3% 5em 4em 5em; 
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 20vh;
		text-align: center;
		font-family: 'HelveticaNeueLT', sans-serif;
		.analytics {
			flex: 0 1 150px; 
			padding: 0.5em;
		}
		.love {
			flex: 0 1 150px; 	
			padding: 0.5em;
		}
		.cloud {
			flex: 0 1 150px; 
			padding: 0.5em;
		}
		p{
			padding-top: 10%;
			color: #383838;
			font-size: 0.7em; 
		}
	}
}
div[class="services-flexbox-row"] > div > img{
	display: block;
	width: 100%;
	padding: 1.5em;
}
.flex-row { 
	display: flex;
	justify-content: center;
	align-items: flex-end;
	.visit_blog {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 0.7em;
		background-color: white;
		padding: 15px 30px;
		color: black;
		border: 1px solid black;
		text-transform: uppercase;
		margin-bottom: 15%;
	}
}
.contact-us-section {
	padding-top: 5%;
	min-height: 40vh;
	max-width: 54%;
	margin: 0 auto;
	.rubric {
		h2 {
			font-family: 'HelveticaNeueLT', sans-serif;
			font-size: 1.5em;
			padding-bottom: 0.7%;
		}
		p {
			color: #979797;
			font-size: 0.7em;
		}
	}
	.contact-items-flexbox-row {
		font-family: 'HelveticaNeueLT', sans-serif;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin-left: 20px;
		.box-item{
			margin: 30px; 
			min-width: 100px;
			text-align: center;
			img {
				padding: 5px;
				display: block;
   				margin-left: auto;
    			margin-right: auto;
			}
			p {
				color: #979797;
				font-size: 0.7em;
			}
		}

	}
	.contact-us-form {
		ul.form-group {
			li {
				padding:10px;
    			position:relative;
				input, span, textarea, .submit-button {
	   			display: block;
	   			width: 100%;
	   			}
	   			input, textarea {
	   				padding: 5px;
	   				border:1px solid #999999;
	   			}
	   			input::placeholder, textarea::placeholder {
	   				color: #979797;
	   				text-align: center;
	   			}
	   			textarea::placeholder {
	   				text-align: left;
	   			}
	   			input:focus:invalid, textarea:focus:invalid {
	   				background: #fff url(../img/invalid.png) no-repeat 99% center;
	   				background-size: 2%;
	   				box-shadow: 0 0 5px #d45252;
	   				border-color: #b03535;
	   			}
	   			textarea:focus:invalid {
	   				background-position: 99% 2%; 
	   			}	
			}
		}
	}
	.submit-block {
		background-color: black;
		padding: 10px;

	}
	button {
		font-family: 'HelveticaNeueMd', sans-serif;
		display: block;
		background-color: black;
		margin: 0 auto;
		color: white;
	}
}
footer {
	font-family: 'HelveticaNeueRoman', sans-serif;
	display: flex;
	padding: 10px;
	min-height: 10%;
	max-width: 54%;
	margin: 60px auto 0 auto;
	align-items: center;
	justify-content: center;
	p {
		text-align: center;
		color: #3b3b3b;
		font-size: 0.8em;

	}
}